@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body{
color: white;
background-color: black;    
}
h1{
    font-family: Libre Baskerville;
    text-transform: uppercase;
}
img{
    border: 5px solid white;
    width: 100%;
}
div{
    margin: 100px 25%;
    text-align: center;
}